@{
    Layout = null;
    var user = Session["USER_BO"] as Roomy.Models.User;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BackOffice | @ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/roomy.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>BackOffice</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <a class="navbar-brand" href=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home", new { area="" })">App <span class="sr-only">Current</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Dashboard")">BackOffice</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Salles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Rooms")">Voir</a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Rooms")">Ajouter</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catégorie
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("Index", "Categories")">Voir</a>
                            <a class="dropdown-item" href="@Url.Action("Create", "Categories")">Ajouter</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text">
                Bonjour @user.Lastname @user.Firstname<a href="@Url.Action("Logout", "Authentication")" class="col-2 btn-outline-warning"><i class="fa fa-user"> Se déconnecter</i></a>
                </span>
            </div>
        </nav>

        @RenderBody()
        <footer class="bg-info">
            &copy; BackOffice POEC Rouen 2018
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("SectionScripts", false)
</body>
</html>
